@media only screen and (max-width: 400px) {
    .home-container {
        display: flex;
        flex-direction: column;

        .all-movies {
            display: flex;
            width: 100%;
            flex-direction: column;
            min-height: calc(100vh - 80px);
            border-right: 1px solid #000000;
            padding: 20px 40px;
            font-family: "Roboto", sans-serif;

            .top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 15px;

                h4 {
                    text-transform: uppercase;
                    font-weight: bold;
                    border-left: 5px solid #000000;
                    padding-left: 10px;
                }

                .view-all {
                    display: flex;
                    color: #000000;
                    cursor: pointer;
                    flex-direction: column;
                }
            }

            .movies-thumbnail {
                display: flex;
                justify-content: space-between;
                margin-bottom: 30px;
                flex-direction: column;

                .movie {
                    .cover {
                        cursor: pointer;

                        img {
                            border-radius: 5px;
                        }
                    }

                    .detail {
                        width: 180px;

                        .name {
                            font-weight: bold;
                            height: 50px;
                            margin-top: 5px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .popular-movies {
            width: 100%;
            min-height: calc(100vh - 80px);
            padding: 20px 40px;
            font-family: "Roboto", sans-serif;

            h4 {
                text-transform: uppercase;
                font-weight: bold;
                border-left: 5px solid #000000;
                padding-left: 10px;
            }

            .movies {
                .movie {
                    margin-bottom: 20px;
                    margin-top: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .name {
                        font-weight: bold;
                        cursor: pointer;
                    }
                }

                .view-all {
                    color: #000000;
                    text-align: right;
                    margin-top: 30px;
                    cursor: pointer;
                }
            }
        }
    }

    .rating {
        padding-right: 45px;
        position: relative;

        .rating-value {
            position: absolute;
            top: 10px;
            right: 0px;
            font-weight: bold;
        }
    }

    .view-all {
        color: #000000;
        text-align: right;
        margin-top: 30px;
        cursor: pointer;
    }
}